.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# PDT-specific (PHP Development Tools)
.buildpath

# settings
.env.dev_config.php
.env.online_config.php