@charset "utf-8";

/*loadgin頁*/
.loading {
    z-index:1000;
}
/*loading頁_end*/

a,.next_btn {
	cursor: pointer;
}

.fix_btn .fb_btn, 
.fix_btn .lt_menu, 
.fix_btn .logo_btn a {
    z-index: 3;
}

.fix_btn .invoice .invo_b:hover img{
	width: 105%;
} 

.rule_page .content .rule_cont .menu01_b,
.rule_page .content .rule_cont .menu02_b,
.rule_page .content .rule_cont .menu03_b {
    position: absolute;
}

.rule_page .content .rule_cont .menu01_b div,
.rule_page .content .rule_cont .menu02_b div,
.rule_page .content .rule_cont .menu03_b div {
    position: absolute;
}

.rule_page .content .rule_cont .menu01_b div:last-child,
.rule_page .content .rule_cont .menu02_b div:last-child,
.rule_page .content .rule_cont .menu03_b div:last-child {
	margin: 364px auto 0px auto;
	width:520px;
}


.rule_page .content .rule_cont .menu01_b p,
.rule_page .content .rule_cont .menu02_b p,
.rule_page .content .rule_cont .menu03_b p {
    position: relative;
}


.club_member .footer {
    position: relative;
    bottom: 70px;
}

.club_member .content .arrow_btn .lr_btn a {
	width: 29px;
}

.club_member .content .arrow_btn .lr_btn a.right:hover {
	background-position: 5px 0px;
	z-index:3;
}

.club_member .content .arrow_btn .lr_btn a.left:hover {
	background-position: 0px 0px;
	z-index:3;
}

.club_member .content .arrow_btn {
	overflow: hidden;
    height: 508px;
}

.club_member .content .arrow_btn .product {
    width: 706px;
    height: 508px;
    margin: 0 auto;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.club_member .content .arrow_btn ul li {
    position: absolute;
}

.pop_background {
	z-index:100;
	background-color: rgba(50,50,50,0.5);
	width:100%;
	height: 100vh;
    position: absolute;
    display: none;
}

.invo_pop, .koh_msg, .award_list, .award_pop, .share_pop {
	z-index:500;
}

.zipcode {
	display:none;
}

.koh_msg .msg_min {
	/*height: 456px;*/
}

.koh_msg .msg_min .fb_msg {
	position:  fixed;
	overflow: hidden;
	z-index:550;
}

.koh_msg .msg_min .arrow {
	padding: 203px 0px;
}

.index .content, .index .next_btn {
	z-index: 2;
}

.video_box {
	width:100%;
	height: 100vh;
	top:0px;
	position: fixed;
}

.video_box div {
	width: calc(100% / 3);
    overflow: hidden;
    float:left;
}

.video_box div video {
	left: -100%
}

.video_box video {
	height:100vh;
    position: relative;
}

.video_top {
	top:0px;
	z-index:1;
	background-color: rgba(50,50,50,0);
	width:100%;
	height: 100vh;
	position: fixed;
}




